*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

.container{
    max-width: 1200px;
    margin: auto;
}

h1, .subtitle{
    text-align: center;  
}

h1{
    margin: 30px 0 40px;
    color: rgb(229, 49, 122);
    font-weight: 600;
}

.subtitle{
    margin-bottom: 20px;
    font-weight: 400;
}

.card{
    float: left;
	width: calc(33.3% - 2rem);
	margin: 1rem 1rem 2rem;
	background-color: rgb(15, 14, 23);
    color: white;
    box-shadow: 3px 3px 10px #888888,
                -3px -3px 10px #888888,
                3px -3px 10px #888888,
                -3px 3px 10px #888888
}

img{
    width: 100px;
    float: left;
}

.card-box{
    padding-left: calc(100px + 1rem);
    padding-top: 10px;
}

p{
    margin-bottom: 7px;
    font-weight: 300;
}

a{
    color: rgb(100, 200, 242);
    font-weight: 300;
    text-decoration: none;
}

.name{
    font-size: 17px;
    font-weight: 600;
}

.clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
}





