*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: auto;
}

h1, .subtitle{
    text-align: center;  
}

h1{
    margin: 30px 0 40px;
}

.subtitle{
    margin-bottom: 20px;
}

.card{
    float: left;
	width: calc(33.3% - 2rem);
	margin: 1rem 1rem 2rem;
	background-color: rgb(15, 14, 23);
    color: white;
}

img{
    width: 100px;
    float: left;
}

a{
    color: rgb(100, 200, 242);
}

.card-box{
    padding-left: calc(100px + 1rem);
    padding-top: 10px;
}

p{
    margin-bottom: 10px;
}
